body {
	background-color: #f1f3f8;
font-family: 'Playfair Display', serif;
font-weight: 400px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;

}

h1, h2 { 
  font-family: 'Noto Sans JP', sans-serif
  font-weight 700;
}


h1 {
  color: #1e3d70;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}


h2 {
	color: #217aad;
	font-size: 24px;
  	text-align: center

}

a {
  text-decoration: none;
  color: #7a73ff;
  font-weight: bold;
}


a:hover{
  color: #583d72;
}


p { 
	font-family: Arial;
  color: #8d93ab;
	font-weight: 400;
	text-align: center
}

img { 
    width: 145px;
    height: 130px;
    border: 2px solid #fff4;
    border-radius: 50%;
    }


ul {
  font-family: 'Playfair Display', serif;
}

.container { 
width: 900px;
margin: 40px auto;
    }

.card-white {
background: white; 
margin: 40px;                       
padding: 30px;                            
border-radius: 6px;                        
box-shadow: 0 10px 30px rgba(0,0,0,.2);
}



#introduction p{
  margin-bottom: 40px;

}

.list-inline {
  list-style: none; 
  padding-left: 0px; 
}
.list-inline > li {
  display: inline; 
  padding: 0px 20px; 
  width: 20px;
}

.fab {
   font-size: 63px;
}

.fab:hover{
  color: #583d72;
}

.button-purple{
  background-color: #7a73ff ;
  font-size: 20px;
  padding: 15px 15px;
  border-radius: 4px;

}

.button-backpage{
  background-color: #7a73ff ;
  font-size: 14px;
  padding: 15px 15px;
  border-radius: 4px;
  float: right;
}

.button-purple:hover{
  background-color: #583d72;
  color: white;
}

.button-backpage:hover{
  background-color: #583d72;
  color: white;
}


.text-white{
  color: white;
}


/* Form */

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #583d72; 
  border-radius: 4px; /
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #7a73ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #583d72;
  opacity: 20%; 
  color: white;
}

.form {
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 20px;
  background: white; 
  margin: 40px;                       
  padding: 30px;                            
  border-radius: 6px;                        
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #7a73ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover{
   background-color: #583d72;
  color: white;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #583d72;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;}

.dropdown:hover .dropbtn {background-color:#583d72;
}


.top {
float: right;
color: #217aad;
font-size: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
 }


